<!doctype html> {% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Add a link to the bootstrap CDN here -->

  <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  {% include "navbar.html" %}
  <div class="container">
    {% block content %} {% endblock content %}
  </div>

  <!-- Add your bootstrap script tags here -->

</body>

</html>