<!doctype html> {% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Add a link to the bootstrap CDN here -->
  
  
  <!-- Uncomment the following line to include your custom CSS file -->
  {% comment %} 
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}"> 
  {% endcomment %}


  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'destination-list' %}">Tourista</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'destination-create' %}">Add a destination</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="container">
    {% block content %} {% endblock content %}
  </div>

  <!-- Add your bootstrap script tags here -->

</body>

</html>