{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
    <p>{{destination.name}}</p>
    <p>{{destination.description}}</p>
    <p>{{destination.activities}}</p>
    <p><img src="{{destination.pretty_picture.url}}"></p>
    <p>{{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-update' destination.id %}">
        <button>Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button>Delete</button>
    </a>
{% endblock content %}