{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
  {% for destination in destinations %}
  <a href="{% url 'destination-detail' destination.id %}">
    <ul>
      <img src="{{destination.pretty_picture.url}}" />
      <li>{{destination.name}}</li>
      <li>{{destination.description}}</li>
      <li>{{destination.activities}}</li>
      <li>{{destination.optimal_visiting_season}}</li>
    </ul>
  </a>
  {% endfor %}
</div>
{% endblock content %}